html{
    background-color: rgb(46, 35, 35);
}
.hd{
    font-size: 50px;
    padding: 5px 330px 5px 290px;
    color: rgb(175, 56, 70);
}
.d1{
    border: 2px solid rgb(46, 35, 35);
    border-radius: 16px;
    width: 1000px;
    margin: auto;
}
div{
    border: 5px solid rgb(24, 58, 24);
    border-radius: 16px;
    width: 1000px;
    margin: auto;
    font-size: 30px;
}
p{
    padding: 10px 20px 10px 40px;
    color: rgb(235, 206, 202);
}
form{
    padding: 10px 20px 10px 40px;
}
input{
    background-color: rgb(46, 35, 35);
    color: rgb(235, 206, 202);
}
