html{
    background-color: rgb(46, 35, 35);
}
.hd{
    font-size: 50px;
    padding: 5px 250px 5px 250px;
    color: rgb(175, 56, 70);
}
.d1{
    border: 2px solid rgb(46, 35, 35);
    border-radius: 16px;
    width: 900px;
    margin: auto;
}
span{
    color: rgb(175, 56, 70);
    font-family: 'Courier New', Courier, monospace;
    font-size: 38px;
}
.s1{
    color: rgb(175, 56, 70);
    font-family: 'Courier New', Courier, monospace;
    font-size: 55px;
}
div{
    border: 5px solid rgb(24, 58, 24);
    border-radius: 16px;
    width: 1000px;
    margin: auto;
    font-size: 30px;
}
p{
    padding: 10px 20px 10px 40px;
    color: rgb(235, 206, 202);
}
a{
    /* border: 2px solid rgb(57, 102, 57);
    border-radius: 16px; */
    padding: 20px 0px 20px 0px; 
    color: rgb(180, 73, 85);
}
